@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}
body {
  margin: 0;
  background: #fcfbf3;
  background-repeat: no-repeat;
  background-position: center top;
}

.main {
  width: 100%;
  max-width: 906px;
  margin: 0 auto;
  position: relative;
  padding-left: 33px;
  box-sizing: border-box;
}
.hero_image-box {
  width: 274px;
  height: 352px;
  flex-shrink: 0;
  border-radius: 36px;
  overflow: hidden;
}
.hero-links svg {
  fill: black;
}
.hero-links img {
  width: 28px;
  height: 28px;
}
.hero_image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
  margin-top: 60px;
  margin-bottom: 36px;
}

.hero_text-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 50px;
  transform: translateY(-50px);
}
.hero_text-box h1 {
  margin: 0;
  color: #556b2f;
  font-family: "Pretendard Variable";
  font-size: clamp(32px, 6vw, 60px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero_text-box h2 {
  margin: 0;
  color: #778436;
  font-family: "Pretendard Variable";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero_contact {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 67px;
  border-radius: 40px;
  background-color: rgba(206, 219, 138, 0.4);
  filter: drop-shadow(0 2px 8.9px rgba(0, 0, 0, 0.25));
}
.hero_contact h3 {
  color: #556b2f;
  font-family: "Pretendard Variable";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding-left: 35px;
  margin-right: 200px;
}
.hero_contact a {
  color: #556b2f;
  display: flex;
  align-items: center;
  gap: 13px;
  text-decoration: none;
}
.hero-links {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}
.hero-links a {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.hero-links svg {
  width: 24px;
  height: 24px;
}
.hero_contact svg {
  width: 16px;
  height: 16px;
}
.hero_contact span {
  color: black;
  font-family: "Pretendard Variable";
  font-size: 15px;
}

.about-me {
  margin-top: 70px;
  width: 100%;
  border-radius: 40px;
  padding: 33px 29px;
  box-sizing: border-box;
  background: rgba(254, 253, 244, 0.8);
  box-shadow: 0 2px 8.9px 0 rgba(0, 0, 0, 0.25);
}
.about-me h3 {
  margin: 0;
  display: inline-block;
  color: #556b2f;
  font-family: "Pretendard Variable";
  font-size: 25px;
  margin: 0 0 24px 0;
  border-bottom: 2px solid #556b2f;
}

.about-me p {
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 15px;
  font-style: normal;
  letter-spacing: 1.8px;
  margin: 0 0 12px;
}

.strength {
  margin-top: 70px;
  width: 100%;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 33px 29px;
  background: rgba(254, 253, 244, 0.8);
  box-shadow: 0 2px 8.9px 0 rgba(0, 0, 0, 0.25);
}
.strength-list li {
  width: 179px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;

  box-sizing: border-box;
  background: rgba(254, 253, 246, 0.6);
  box-shadow: 0 2px 5.2px 0 rgba(0, 0, 0, 0.25);
}

.strength h3 {
  width: fit-content;
  color: #556b2f;
  font-family: "Pretendard Variable";
  font-size: 25px;
  margin: 0 0 24px 0;
  border-bottom: 2px solid #556b2f;
  padding-bottom: 6px;
}

.strength-list {
  display: flex;
  font-family: "Pretendard Variable";
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}
.strength-list h4 {
  margin: 0 0 16px;
  font-size: 15px;
  font-family: "Pretendard Variable";
}

.strength-list p {
  margin: 0;
  font-size: 13px;
  text-align: center;
  line-height: 1.5;
  padding-left: 8px;
  padding-right: 8px;
}
.strength-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ebefc6;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
  margin-bottom: 12px;
}

.strength-icon svg {
  width: 28px;
  height: 28px;
}

.skills h3 {
  margin-top: 150px;
  padding-left: 25px;
  color: #556b2f;
  font-family: "Pretendard Variable";
  font-size: 28px;
  font-weight: 600;
}
.skills h4 {
  color: #3e4c13;
  font-family: "Pretendard Variable";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 160% */
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.skills h4::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #d3d3c9;
}
.skill-list {
  display: flex;
  gap: 26px;
}
.skill-group {
  margin-bottom: 32px;
}
.skill-card {
  width: 100px;
  height: 100px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  justify-content: flex-start;
}
.skill-card img {
  width: 42px;
  height: 42px;
  object-fit: contain;
  padding-top: 10px;
  flex-shrink: 0;
}
.skill-dot {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #899949;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.skill-group-wrapper {
  padding-left: 50px;
}
.edcation {
  margin-top: 150px;
  width: 100%;
  border-radius: 40px;
  box-sizing: border-box;
  padding: 33px 29px;
  background: #fefdf4;
  box-shadow: 0 2px 8.9px 0 rgba(0, 0, 0, 0.25);
}
.edcation h3 {
  color: #556b2f;
  font-family: "Pretendard Variable";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.education-item {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.education-item h4 {
  width: 100px;
  margin: 0;
}

.edcation h3 {
  width: fit-content;
  margin: 0 0 24px 0;
  border-bottom: 2px solid #556b2f;
  padding-bottom: 6px;
}
.education-text p {
  margin: 0 0 8px;
}
footer {
  margin-top: 200px;
  margin-left: -33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #556b2f;
  color: #556b2f;
  font-family: "Pretendard Variable";
  font-size: 15px;
  font-weight: 400;
}

@media (width < 906px) {
  .hero {
  flex-direction: column;
}

.hero_text-box {
  transform: none;
  align-items: center;
}
.hero_contact {
  flex-wrap: wrap;
}
